* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    background: #8200c9;
    background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%);
    background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%);
    background: linear-gradient(to bottom, #000000 0%,#300d44 100%);
    color: #d8a5f3;
}
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 3rem;
    letter-spacing: -1px;
    text-align: left;
    color: white;
}
h2 {
    font-size: 2rem;
    text-align: left;
    color: white;
}
h3 {
    color: white;
    font-size: 2rem;
}
ul {
    list-style-type: none;
    margin: 1rem 0;
    padding: 2rem 0.5rem;
}
ul li {
    padding: 1vh 2vw;
    word-wrap: break-word;
    border-bottom: 1px solid grey;
}
.container {
    margin: 0 auto;
    padding: 0;
    width:80vw;
    border-radius: 1vw;
    overflow-y: scroll;
    bottom: 0;
    top: 190px;
}
@media (max-width: 520px) {
    .container, .header {
        margin: 0 auto;
        padding: 0;
        width:100vw;
    }
    .content {
        padding: 0.5vh 0.2vw;
    }
}
.user-interaction {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgb(14 14 14 / 0.80);
    color: white;
}
.user-interaction-box {
    flex: 1 1 auto;
    align-self: center;
    padding: 1rem;
    max-width: 500px;
    overflow-wrap: anywhere;
}
.main-box {
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: 100%;
    min-height: 100vh;
}
.main-box--center {
    width: 90%;
    margin: 0 auto;
    display: block;
    max-width: 800px;
}
.main-box-headspace {
    width: 100%;
    height: 4rem;
    background-color: black;
    color: #fff;
}
.main-box-dropzone {
    width: 100%;
    height: 4rem;
    display: flex;
    text-align: center;
    place-content: center;
    align-items: center;
    border: 2px dashed grey;
    background-color: black;
    color: #fff;
    margin: 0.5rem 0;
}
.main-box-dropzone span {
    padding: 0 5px;
}
.main-box-dropzone label {
    text-decoration: underline;
    cursor: pointer;
}
.main-box-container,
.main-box-control {
    width: 100%;
    padding: 2rem;
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex: 1 1 auto;
}
.main-box-control {
    place-self: flex-end;
}
.main-box-feedback {
    text-align: center;
    display: block;
    height: 4rem;
    line-height: 4rem;
}
canvas {
    width: 100%;
    height: 100%;
}
.main-box-canvas {
    overflow: hidden;
}
.ht-custom-btn--box {
    margin: 1vw;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: inline-block;
}
.ht-custom-info--euler,
.ht-custom-info--euler-info {
    width: 100%;
    margin: 0;
    padding: 0 10px;
    font-size: 0.8rem;
    border: 0;
    color: #8865bd;
    text-align: center;
}
.ht-axis-blip {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 12px;
    vertical-align: text-top;
}
.ht-axis-blip.x {
    background-color: #ff5858;
}
.ht-axis-blip.y {
    background-color:#5aff57;
}
.ht-axis-blip.z {
    background-color: #5858ff;
}
.ht-custom-status--socket {
    animation: socket-connected-status 1s ease infinite;
}
.ht-custom-status--socket-disconnected {
    animation: socket-disconnected-status 1s ease infinite;
}
#statusSocket {
    border-radius: 0.2rem;
    padding: 0 0.4rem;
    margin: 0 0 0.2rem 0;
    text-align: center;
    color: white;
}
.ht-custom-btn {
    transition: all 100ms linear;
    border: 4px solid #fff;
}
.ht-custom-btn--ble {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-connection-bluetooth-wh.svg') center center no-repeat #4c4c4c;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--ble:hover {
    background-size: 42px;
}
.ht-custom-btn--ble--on {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-connection-bluetooth-wh.svg') center center no-repeat #2546e9;
    background-size: 40px;
    border-radius: 50%;
    border: 4px solid #1513a5;
}
.ht-custom-btn--usb {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-usb-ident-wh.svg') center center no-repeat #4c4c4c;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--usb--on {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-usb-ident-wh.svg') center center no-repeat #25e94f;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--reset {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-reset-wh.svg') center center no-repeat #4c4c4c;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--reset--on {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-reset-wh.svg') center center no-repeat #cb25e9;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--audio {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-player-fill-play-wh.svg') center center no-repeat #4c4c4c;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--audio--playing {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-player-fill-pause-wh.svg') center center no-repeat #cb25e9;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--reference {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-globe-calibration-wh.svg') center center no-repeat #4c4c4c;
    background-size: 40px;
    border-radius: 50%;
}
.ht-custom-btn--reference--on {
    width: 60px;
    height: 60px;
    background: url('icons/icon-48x48-globe-calibration-wh.svg') center center no-repeat #cb25e9;
    background-size: 40px;
    border-radius: 50%;
}

/* TOOLTIP */
.tooltip--text {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0 0 6px 6px;
    position: absolute;
    z-index: 1;
    top: 4rem;
    left: 0;
    right: 0;
    display: block;
    height: 4rem;
    line-height: 4rem;
    transition: all 200ms ease;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ht-custom-btn--tooltip:hover .tooltip--text {
    visibility: visible;
    opacity: 1;
}
.ht-form--button, .ht-form--field {
    padding: 0.5rem 0.2rem;
    width: 100%;
}
.ht-form--button {
    border-width: 1px 0;
    border-style: solid;
    border-color: #4e4e4e;
}
input:active, input:focus {
    background: #4CAF50;
    color:white;
}
button, select {
    margin: 0.4rem 0;
    padding: 0 1rem;
    font-weight: 800;
    line-height: 2rem;
    height: 2rem;
    min-height: 1rem;
    font-size: 1rem;
    vertical-align: bottom;
    text-align: center;
    background: #d2eef3;
    outline: none;
    border: 1px solid #a4b0ca;
    color: black;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px 0px #ffffff;
    outline: none;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
}
button.selected {
    background-color: #9ced1f;
    border-color: #61c33e;
}
select {
    margin: 0.4rem 0.4rem 0.4rem 0;
    max-width: 70%;
}
input[type='text'] {
    margin: 0.4rem 0;
    padding: 0 1rem;
    font-weight: 800;
    line-height: 2rem;
    height: 2rem;
    min-height: 1rem;
    font-size: 1rem;
    vertical-align: bottom;
    background: #d2eef3;
    border: 1px solid #a4b0ca !important;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: inset 1px 1px 2px 0px #ffffff;
    outline: none;
    max-width: 100%;
    overflow: hidden;
    min-width: 100%;
}
.input-load-audio-file {
    display:none;
}

.audio-play-timer {
    display: inline-block;
    margin: 0.4rem 0;
    padding: 0 1rem;
    font-weight: 800;
    line-height: 2rem;
    height: 2rem;
    min-height: 1rem;
    font-size: 1rem;
    vertical-align: bottom;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
    cursor: pointer;
}

/* Slider */
input[type="range"] {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #7530a0;
    background: rgba(117, 48, 160, 0.5);
    outline: none;
    padding: 0;
    margin: 1rem 0;
    width: 100%;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
input[type="range"]:active::-webkit-slider-thumb {
    background: #1abc9c;
}
input[type="range"]::-moz-range-thumb {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    background: #2c3e50;
    cursor: pointer;
    -moz-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
input[type="range"]::-moz-range-thumb:hover {
    background: #1abc9c;
}
input[type="range"]:active::-moz-range-thumb {
    background: #1abc9c;
}

.range.x::-webkit-slider-thumb {
    background: #ff5858;
}
.range.y::-webkit-slider-thumb {
    background: #5aff57;
}
.range.z::-webkit-slider-thumb {
    background: #5858ff;
}

.range.x::-webkit-slider-thumb:active {
    background: #ff5858;
}
.range.y::-webkit-slider-thumb:active {
    background: #5aff57;
}
.range.z::-webkit-slider-thumb:active {
    background: #5858ff;
}

.range.x::-webkit-slider-thumb:focus {
    background: #ff5858;
}
.range.y::-webkit-slider-thumb:focus {
    background: #5aff57;
}
.range.z::-webkit-slider-thumb:focus {
    background: #5858ff;
}

.range.x::-webkit-slider-thumb:hover {
    background: #ff5858;
}
.range.y::-webkit-slider-thumb:hover {
    background: #5aff57;
}
.range.z::-webkit-slider-thumb:hover {
    background: #5858ff;
}

/* SVG */
@keyframes socket-connected-status {
    0% {
        background: #69d069;
    }
    100% {
        background: #4c4c4c;
    }
}
@keyframes socket-disconnected-status {
    0% {
        background: #CB2402;
    }
    100% {
        background: #4c4c4c;
    }
}

/* Channel selector matrix */
#channel-selector {
    display: flex;
    flex-direction: column;
    margin: 0.4rem 0;
}

.ch-row {
    display: grid;
    grid-template-columns: 3fr repeat(16, 1fr);
    justify-items: center;
    align-items: center;
}

#channel-selector input[type="radio"] {
  display: none;
}

#channel-selector label {
  display: inline-block;
  background-color: #102648;
  padding: 8px 8px;
  border-radius: 2px;
  cursor: pointer;
}

#channel-selector input[type="radio"]:checked+label {
    background-color: #d2eef3;
    background-color: #9ced1f;
    border-color: #61c33e;
}

#channel-selector input[type="radio"]:checked+label.silent {
  background-color: #5b167d;
}

/* Audio selector */
.select-split {
    display: flex;
}

.audio-selector {
    display: block;
}
.audio-selector #audio-dropdown-btn {
    display: block;
    cursor: pointer;
    background: orange;
}
ul#audio-dropdown-list {
    background: #280938;
    border-radius: 4px;
    border: 1px solid #3d0a58;
    max-height: 200px;
    overflow-x: scroll;
}
.audio-selector #audio-dropdown-list li {
    border-bottom: 1px solid #592177;
    cursor: pointer;
}
.audio-selector #audio-dropdown-list li.selected {
    background: #5a2277;
}
span.item-title {
    pointer-events: none;
}
span.item-size {
    float: right;
    overflow: hidden;
    font-size: 0.8rem;
    pointer-events: none;
}
span.item-format {
    display: block;
    font-size: 0.7rem;
    pointer-events: none;
}
span.item-license {
    display: block;
    font-size: 0.8rem;
    pointer-events: none;
}